<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ordenar
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" (click)="orderByABC()">Alfabéticamente</a></li>
        <li><a class="dropdown-item" href="#" (click)="orderByYear()">Por año</a></li>
        <li><a class="dropdown-item" href="#" (click)="orderByEpisode()">Número de episodios</a></li>
    </ul>
</div>