<form #form="ngForm" (ngSubmit)="onFormSubmit(form)" class="row g-3">
    <div class="col-auto">
        <input type="text" name="name" required class="form-control" placeholder="Nombre" ngModel>
    </div>
    <div class="col-auto">
        <input type="text" name="image" required class="form-control" placeholder="Imagen" ngModel>
    </div>
    <div class="col-auto">
      <input type="text" name="description" required class="form-control" placeholder="Descripción" ngModel>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Agregar</button>
    </div>
    <div *ngIf="form.submitted && !form.valid" class="alert alert-danger" role="alert">
      Datos incompletos
    </div>
</form>